@model List<User>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Username</td>
            <td>@user.Password</td>
        </tr>
    }
    </tbody>
</table>